.mp-layout-aside-comp-wrap {
  > ul {
    margin: 0;
    > li {
      z-index: 99;
      position: fixed;
      right: 60px;
      bottom: 100px;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      background-color: #474747;
      // box-shadow: 0px 2px 7px 0px rgba(146, 146, 146, 0.5);
      transition: background-color 0.3s;
      cursor: pointer;
      &:hover {
        background-color: #438DFA;
      }
      .back-top {
        height: 60px;
        width: 60px;
        border-radius: 50%;
      }
      > i {
        display: block;
        height: 59px;
        width: 60px;
        border-radius: 50%;
        background: url(../../../public/aside-to-top.png) no-repeat center center/25px 16px;
      }
      > .code {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: url(../../../public/aside-code.png) no-repeat center center/26px 26px;
      }
      > .qq {
        height: 60px;
        width: 59px;
        border-radius: 50%;
        background: url(../../../public/aside-qq.png) no-repeat center center/28px 28px;
      }
      > .phone {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: url(../../../public/aside-phone.png) no-repeat center center/22px 28.7px;
      }
    }
  }
}
.code-box {
  // background-color: #474747;
  padding: 0px;
  padding-top: 2px;
  > img {
    width: 142px;
    height: 142px;
  }
  > p {
    height: 19px;
    font-size: 14px;
    color: #ccc;
    line-height: 19px;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 0;
  }
}

.qq-list {
  margin: 0 8px;
  > li {
    padding-left: 20px;
    padding-right: 2px;
    border-bottom: 1px solid #2F2F2F;
    padding-top: 11px;
    position: relative;
    > p {
      height: 19px;
      font-size: 14px;
      font-family: MicrosoftYaHei;
      color: #CCCCCC;
      line-height: 18px;
      margin-bottom: 11px;
      span, > div {
        color: #fff;
        font-weight: 700;
        transition: 0.2s;
      }
      a span:hover {
        color: rgb(78, 134, 238);
      }
    }
    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 14px;
      left: 0;
      top: 12px;
      background: url(../../../public/aside-qq-icon.png) no-repeat center center/cover;
    }
  }
}

.phone-list {
  margin: 0;
  > li {
    width: 134px;
    border-bottom: 1px solid #2F2F2F;
    padding-bottom: 10px;
    padding-top: 7px;
    > div {
      margin-bottom: 6px;
      font-size: 14px;
      color: #CCCCCC;
      line-height: 19px;
      span {
        color: #fff;
        font-weight: 700;
      }
    }
  }
}