.mp-common-header-wrap {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  > .content {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    > div {
      display: inline-block;
      height: 100%;
      vertical-align: top;
      color: #fff;
      &.left {
        height: 100%;
        width: 255px;
        .logo {
          width: 162px;
          height: 40px;
          margin-top: 10px;
          cursor: pointer;
          background: url(../../../public/logo.png) no-repeat left center/147px 32px;
        }
      }
      &.right {
        height: 100%;
        position: absolute;
        right: 0;
        padding-top: 18px;
        line-height: 24px;
        height: 42px;
        cursor: pointer;
        user-select: none;
        transition: color 0.2s;
        &:active {
          color: #ddd;
        }
        > i {
          display: inline-block;
          width: 18px;
          height: 24px;
          margin-right: 9px;
          background: url(../../../public/avator.png) no-repeat left center/18px 21px;
        }
        > span {
          vertical-align: top;
          display: inline-block;
          max-width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    > ul.menus {
      font-size: 16px;
      display: inline-block;
      height: 100%;
      vertical-align: top;
      color: #fff;
      padding: 0;
      margin: 0;
      > li {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        transition: background-color 0.2s;
        &:hover {
          background-color: #3d69ce;
          box-shadow: inset 0 1px 3px rgba(0,0,0,.2), 0 0 0 #fff;
        }
        &.active {
          background: rgba(28, 77, 149, 0.5);
          // text-shadow: 0 1px 0 hsla(0,0%,100%,.3);
          box-shadow: inset 0 1px 3px rgba(0,0,0,.2), 0 0 0 #428dfa
        }
        > a {
          display: block;
          height: 100%;
          padding: 20px 25px;
          line-height: 20px;
          color: #fff;
        }
      }
    }
  }
}
.mp-common-header-wrap.show-blue {
  background-color: #428dfa;
}
.loginout-box {
  padding: 1px 8px;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  transition: color 0.2s;
  font-size: 14px;
  &:hover {
    color: mix(#428dfa, #fff, 75%);
  }
  &:active {
    color: #428dfa;
  }
  > i {
    margin-right: 6px;
  }
}