.wrap {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.wrap > header {
  text-align: center;

  user-select: none;
  color: #333;
  padding-bottom: 15px;
}
.wrap > header p {
  margin-bottom: 17px;
  font-size: 24px;
  line-height: 30px;
}
.wrap > header p.f {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}
.item {
  /* background-color: violet; */
  margin-top: 40px;
}

.item > div {
  width: 200px;
  height: 90px;
  display: inline-block;
  margin-right: 50px;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
}
.item > div div.logo-msg::before {
  content: '';
  position: absolute;
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  border: 1px solid #eee;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.item > div div.logo-msg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  font-size: 17px;
  line-height: 30px;
  padding: 30px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  user-select: none;
}
.item > div:hover div.logo-msg::before {
  opacity: 1;
}
.item > div:hover div.logo-msg {
  opacity: 1;
}
.item > div:hover img {
  /* opacity: 0.9; */
}