.news-center-wrap {
  margin: 0 auto;
  width: 1200px;
  margin-top: 55px;
  margin-bottom: 40px;
}
.news-center-wrap ul {
  margin: 0 -15px;
}
.news-center-wrap ul li {
  display: inline-block;
  margin: 0 15px;
  margin-bottom: 50px;
  cursor: pointer;
}
.news-center-wrap ul li p {
  line-height: 19px;
  font-size: 14px;
  color: #333;
  margin-top: 16px;
  transition: color 0.2s;
}
/* .news-center-wrap ul li > div{
  width: 380px;
  height: 185px;
  overflow: hidden;
} */
.news-center-wrap ul li > div > img{
  transition: transform 0.2s;
  width: 380px;
  height: 185px;
}
.news-center-wrap ul li:hover > div > img{
  transform: scale(1.05);
}
.news-center-wrap ul li:hover > p.title {
  color: #428dfa;
  opacity: 0.9;
}