.news-center-wrap {
  margin: 0 auto;
  width: 1200px;
  margin-top: 55px;
  margin-bottom: 40px;
}
.news-center-wrap ul {
  margin: 0 -15px;
  min-height: 220px;
  padding-top: 12px;
}
.news-center-wrap ul li {
  display: inline-block;
  margin: 0 15px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.news-center-wrap ul li:hover {
  border-bottom: 1px solid #eee;
}
.news-center-wrap ul li > a > div {
  overflow: hidden;
}
.news-center-wrap ul li h2 {
  height: 19px;
  font-size: 15px;
  color: #333333;
  font-weight: 400;
  margin-top: 19px;
  white-space: nowrap;
  overflow: hidden;
  width: 380px;
  transition: color 0.2s;
  text-overflow: ellipsis;
}
.news-center-wrap ul li .content {
  line-height: 20px;
  font-size: 12px;
  margin-top: 16px;
  width: 380px;
  height: 40px;
  white-space: normal;
  overflow: hidden;
  margin-bottom: 0;
}
.news-center-wrap ul li .content > div {
  color: #999;
}
/* .news-center-wrap ul li > div{
  width: 380px;
  height: 185px;
  overflow: hidden;
} */
.news-center-wrap ul li > div > img{
  /* transition: transform 0.2s; */
  width: 380px;
  height: 185px;
}
.news-center-wrap ul li:hover > div > img{
  /* transform: scale(1.05); */
}
.news-center-wrap ul li:hover  h2 {
  color: #428dfa;
  opacity: 0.9;
}
.news-center-wrap > footer {
  text-align: right;
}