.product-detail-wrap {
  padding-top: 60px;
  width: 100%;
  min-height: calc(100vh - 197px);
  > header {
    padding-bottom: 42px;
    > div {
      height: 60px;
      > div {
        height: 60px;
        padding: 19px 0 21px;
        line-height: 20px;
        font-size: 16px;
        color: #999999;
        width: 1200px;
        margin: 0 auto;
      }
      border-bottom: 1px solid #eee;
    }
    > section {
      box-shadow: 0px 5px 9px 0px rgba(231, 231, 231, 0.5);
      > div {
        width: 1200px;
        margin: 0 auto;
      }
    }
  }
  > article {
    margin-top: 30px;
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    > section > header, > aside > header {
      font-size: 18px;
      color: #333333;
      font-weight: 700;
      line-height: 21px;
      font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
      margin-bottom: 18px;
    }
    > section {
      width: 850px;
      float: left;
      margin-bottom: 30px;
      > footer {
        padding-top: 40px;
        text-align: right;
        button {
          width: 100px;
          height: 33px;
          font-size: 12px;
          // background-color: #428dfa;
        }
      }
    }
    > aside {
      width: 286px;
      float: right;
      margin-bottom: 30px;
      > ul {
        > li {
          margin-bottom: 19px;
          cursor: pointer;
          > div {
            width: 87px;
            height: 87px;
            display: inline-block;
            vertical-align: top;
            overflow: hidden;
            img {
              object-fit: cover;
              transition: transform 0.3s;
            }
          }
          > section {
            display: inline-block;
            width: 199px;
            white-space: normal;
            height: 87px;
            overflow: hidden;
            padding-left: 16px;
            > header {
              font-size: 16px;
              color: #333333;
              line-height: 21px;
              padding: 8px 0;
              transition: color 0.25s;
            }
            > div {
              height: 44px;
              font-size: 14px;
              color: #999999;
              line-height: 22px;
              overflow: hidden;
            }
          }
          &:hover {
            > section > header {
              color: mix(#428dfa, #fff, 75%);
            }
            > div > div > img {
              // transform: scale(1.05);
            }
          }
        }
      }
      > footer {
        width: 286px;
        height: 42px;
        background-color: #F0F0F0;
        text-align: center;
        user-select: none;
        cursor: pointer;
        border-radius: 2px;
        transition: background-color 0.2s;
        > a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 10px;
          line-height: 22px;
          color: #999;
        }
        &:hover {
          background-color: #cbcbcb;
        }
        &:active {
          background-color: #aaa;
        }
      }
    }
    &::before {
      content: '';
      clear: both;
      display:block;
    }
  }
}