.mp-news-center-page-wrap {
  width: 100%;
  background: linear-gradient(to bottom, #22284C 416px, #fff 417px);
  > header {
    height: 416px;
    width: 100%;
    background: url(../../public/news-banner.png) no-repeat center center/cover;
  }

  > .news-intro {
    width: 1200px;
    margin: 0 auto;
    padding-top: 65px;
    height: 297px;
    > header {
      display: inline-block;
      vertical-align: top;
      margin-right: 42px;
      width: 472px;
      text-align: right;
      > h2 {
        font-size: 22px;
        font-weight: bold;
        color: #2F2F2F;
        line-height: 29px;
      }
      > p {
        font-size: 14px;
        font-family: PingFang-R;
        font-weight: 400;
        color: #2F2F2F;
        line-height: 20px;
        letter-spacing: 2px;
      }
    }
    > div {
      display: inline-block;
      vertical-align: top;
      width: 676px;
      > ul {
        > li {
          font-size: 14px;
          color: #A7A7A8;
          line-height: 24px;
        }
      }
      > p {
        font-size: 16px;
        color: #1677FF;
        line-height: 22px;
        cursor: pointer;
        user-select: none;
        > i {
          display: inline-block;
          height: 20px;
          width: 20px;
          margin-left: 8px;
          vertical-align: top;
          background: url(../../public/to-right-sm.png) no-repeat center center/100% 100%;
        }
        &:hover {
          color: mix(#1677FF, #fff, 70%);
          > i {
            opacity: 0.8;
          }
        }
        &:active {
          color: #1677FF;
          > i {
            opacity: 1;
          }
        }
      }
    }
  }
  > .news-menus {
    width: 100%;
    height: 336px;
    background-color: #f4f4f4;
    > div {
      width: 1200px;
      margin: 0 auto;
      position: relative;
      > div {
        width: 406px;
        height: 545px;
        background: url(../../public/news-timg.png) no-repeat center center/cover;
        position: absolute;
        left: 100px;
        top: -105px;
        // z-index: 9;
        &::before {
          content: '';
          position: absolute;
          width: 115px;
          height: 33px;
          background-color: rgb(66, 141, 250);
          left: -100px;
          top: 72px;
          // z-index: 1;
        }
        &::after {
          content: '';
          position: absolute;
          right: -94px;
          width: 2px;
          height: 148px;
          background-color: rgb(66, 141, 250);
          bottom: -32px;
        }
      }
      > ul {
        position: absolute;
        top: 0;
        right: 0;
        width: 600px;
        padding-left: 10px;
        padding-top: 70px;
        > li {
          display: inline-block;
          vertical-align: top;
          margin-bottom: 40px;
          // cursor: pointer;
          > aside {
            width: 87px;
            height: 87px;
            overflow: hidden;
            display: inline-block;
            vertical-align: top;
            border-radius: 50%;
            > div > img {
              width: 100%;
              height: 100%;
              transition: 0.35s;
            }
            // &:hover > div > img {
            //   transform: scale(1.25);
            // }
          }
          > div {
            width: 164px;
            height: 87px;
            overflow: hidden;
            display: inline-block;
            vertical-align: top;
            margin-left: 19px;
            padding-top: 15px;
            > h2 {
              font-size: 15px;
              font-weight: 600;
              color: #2F2F2F;
              line-height: 22px;
              margin-bottom: 13px;
            }
            > p {
              font-size: 13px;
              color: #A1A1A1;
              line-height: 17px;
              font-family: PingFang-M;
            }
          }
        }
      }
    }
  }

  > .news-hot {
    height: 1045px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    > header {
      margin-top: 192px;
      margin-bottom: 72px;
      > h2 {
        font-size: 30px;
        font-weight: bold;
        color: #2F2F2F;
        line-height: 40px;
        margin-bottom: 21px;
      }
      > h3 {
        font-size: 22px;
        color: #2F2F2F;
        line-height: 29px;
      }
    }
    > ul {
      width: 1230px;
      // overflow: hidden;
      margin-left: -15px;
      > li {
        margin: 0 15px 30px;
        width: 585px;
        height: 285px;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        position: relative;
        cursor: pointer;
        > div {
          width: 292px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          text-align: left;
          > p {
            width: 100%;
            height: 50px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #262626;
            padding: 12px 0;
            line-height: 26px;
            padding-left: 20px;
            color: #fff;
            font-size: 14px;
            margin: 0;
            transition: background-color 0.2s;
            > span {
              width: 228px;
              display: inline-block;
              vertical-align: top;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            > i {
              display: inline-block;
              height: 100%;
              width: 30px;
              background: url(../../public/arrow-r-w.png) no-repeat center center/16px 10px;
            }
            &:hover {
              background-color: mix(#262626, #fff, 95%);
            }
          }
          > div {
            width: 100%;
            left: 0;
            top: 0;
            height: 235px;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px;
            padding-right: 35px;
            overflow: hidden;
            > p {
              font-size: 14px;
              color: #FFFFFF;
              line-height: 16px;
              padding-bottom: 25px;
              margin: 0;
              position: relative;
              &::after {
                content: '';
                position: absolute;
                height: 4px;
                width: 40px;
                background-color: rgb(73, 119, 252);
                left: 0;
                bottom: 10px;
              }
            }
            > span {
              font-size: 14px;
              color: #FFFFFF;
              line-height: 23px;
              display: block;
              width: 100%;
              height: 160px;
              overflow: hidden;
              margin: 0;
            }
            opacity: 0;
            transition: 1.2s;
          }
        }
        &:hover > div > div {
          opacity: 1;
        }
      }
    }
  }
}