.wrap {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 100px;
  overflow: hidden;
}
.wrap > header {
  text-align: center;
  user-select: none;
  color: #333;
  margin-bottom: 80px;
}
.wrap > header p {
  margin-bottom: 17px;
  font-size: 24px;
  line-height: 30px;
}
.wrap > header p.f {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}
.wrap .content {
  width: 100%;
  background-color: rgb(245, 245, 245);
  height: 270px;
  > ul {
    height: 270px;
    width: 1230px;
    margin: 0 auto;
    > li {
      display: inline-block;
      height: 285px;
      width: 225px;
      text-align: center;
      padding-top: 65px;
      margin-right: 110px;
      position: relative;
      > div {
        width: 192px;
        color: #999;
        margin: 0 auto;
        > div {
          display: inline-block;
          margin-left: 14px;
          margin-bottom: 20px;
        }
        > p {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 24px;
        }
        > h2 {
          font-size: 16px;
          color: #777;
          font-weight: 400;
          margin-bottom: 5px;
        }
        > h3 {
          font-size: 14px;
          font-weight: 400;
          color: #999;
          margin-bottom: 10px;
        }
      }
      > section {
        height: 280px;
        width: 100%;
        position: absolute;
        left: 0;
        background-color: #428dfa;
        top: 135px;
        padding-top: 17px;
        text-align: center;
        color: #fff;
        opacity: 0;
        // z-index: -1;
        transition: 0.3s ease-out;
        > header {
          > h2 {
            padding: 10px 5px;
            line-height: 28px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            display: inline-block;
            font-size: 18px;
            font-weight: 400;
            color: #fff;
          }
          > p {
            color: rgba(255, 255, 255, 0.5);
            margin-bottom: 40px;
          }
        }
        > div {
          width: 188px;
          white-space: normal;
          margin: 0 auto;
          height: 108px;
          overflow: hidden;
          color: #fff;
          font-size: 14px;
          line-height: 21px;
        }
      }
      &:hover > section {
        opacity: 1;
        top: -28px;
        // z-index: 2;
      }
    }
  }
}