.mp-product-intro-list-page-wrap {
  padding-top: 60px;
  > header {
    width: 100%;
    // height: 216px;
    > p {
      height: 63px;
      width: 100%;
      border-bottom: 1px solid #eee;
      margin: 0;
      > span {
        display: block;
        height: 100%;
        width: 1200px;
        margin: 0 auto;
        padding: 21px 0;
        line-height: 20px;
        color: #999;
        font-size: 16px;
        > i {
          font-size: 13px;
        }
      }
    }
    > div {
      background: linear-gradient(to bottom,#fff 0px, #fff 152px, #f5f5f5 153px, #f5f5f5 100%);
      > div {
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        // overflow:auto;
        > ul {
          position: absolute;
          height: 76px;
          white-space: nowrap;
          margin: 0;
          display: inline-block;
          // width: auto;
          > li {
            display: inline-block;
            padding: 20.5px 0;
            margin-right: 40px;
            > span {
              display: block;
              height: 35px;
              line-height: 34px;
              padding: 0 18px;
              cursor: pointer;
              color: #333;
              font-size: 16px;
              transition: 0.2s;
              border-radius: 5px;
              transition: 2s;
              user-select: none;
              &:hover {
                color: #428dfa;
              }
              &.active {
                background-color: #428DFA;
                color: #fff;
                pointer-events: none;
              }
              transition: 0.2s;
            }
          }
          &.lv2ul {
            height: 77px;
            > li {
              margin-right: 75px;
              > span {
                padding: 0 1px;
                font-size: 18px;
                color: #999999;
                &::after {
                  position: absolute;
                  content: '';
                  width: 100%;
                  height: 2px;
                  background-color: #333;
                  left: 0;
                  bottom: -21px;
                  border-radius: 1px;
                  opacity: 0;
                  transition: opacity 0.2s;
                }
                &:hover {
                  color: #428dfa;
                }
                &.active {
                  background-color: #fff;
                  color: #333333;
                  font-weight: bold;
                  position: relative;
                  &::after {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
        > div.move-item {
          position: absolute;
          width: 70px;
          height: 57px;
          background-color: #fff;
          opacity: 0;
          z-index: -1;
          font-size: 25px;
          text-align: center;
          margin-top: 10px;
          padding-top: 10px;
          color: mix(#428dfa, #fff, 70%);
          background-color: mix(#428dfa, #fff, 30%);
          border-radius: 2px;
          transition: 0.2s;
          cursor: pointer;
          &.move-prev {
            left: 0;
          }
          &.move-next {
            right: 0;
          }
          &:hover {
            color: #fff;
            background-color: mix(#428dfa, #fff, 85%);
          }
          &:active {
            background-color: mix(#428dfa, #fff, 100%);
          }
        }
        &:hover {
          > div.move-item {
            opacity: 0.98;
            z-index: 99;
          }
        }
      }
    }
  }
  div.content {
    padding-top: 5px;
    // height: 1370px;
    min-height: 460px;
    width: 100%;
    background-color: #f5f5f5;
    > div > div {
      > div {
        text-align: center;
        width: 100%;
        height: 431.3px;
        padding-top: 130px;
      }
      > section {
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        > ul {
          // margin-right: -43px;
          margin-left: -21.5px;
          text-align: left;
          width: 1243px;
          margin: 0;
          > li {
            margin-top: 43px;
            margin-right: 43px;
            display: inline-block;
            vertical-align: top;
            width: 371px;
            height: 388.3px;
            border-radius: 10px;
            overflow: hidden;
            transition: transform 0.2s;
            cursor: pointer;
            > div {
              width: 371px;
              height: 247.3px;
            }
            > section {
              height: 141px;
              width: 100%;
              padding: 4px 13px 1px 17px;
              background-color: #fff;
              > header {
                font-size: 16px;
                color: #333;
                line-height: 21px;
                white-space: normal;
                overflow: hidden;
                margin: 14px 0;
              }
              > div {
                line-height: 21px;
                height: 43px;
                overflow: hidden;
                color: #999;
                font-size: 12px;
                white-space: normal;
              }
              > footer {
                text-align: right;
                font-size: 12px;
                margin: 14px 0;
                line-height: 16px;
              }
            }
            &:hover {
              box-shadow: 0 0px 5px rgba(0,0,0,.08), 0 2px 6px 0 rgba(0,0,0,.08);
              transform: scale(1.02);
              > section > footer {
                color: mix( #428dfa,  #fff, 70%);;
              }
            }
            &:active {
              > section {
                background-color: #f5f5f5;
                transition: background-color 0.2s;
                > footer {
                  color: mix( #428dfa,  #fff, 100%);;
                }
              }
            }
          }
        }
      }
      > article {
        margin-top: 48px;
        > section > header, > aside > header {
          font-size: 15px;
          color: #333333;
          font-weight: 700;
          line-height: 21px;
          font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
          margin-bottom: 18px;
        }
        > section {
          width: 850px;
          float: left;
          > footer {
            padding-top: 40px;
            text-align: right;
            > button {
              width: 100px;
              height: 33px;
              font-size: 12px;
              // background-color: #428dfa;
            }
          }
        }
        > aside {
          width: 286px;
          float: right;
          > ul {
            > li {
              margin-bottom: 19px;
              > div {
                width: 87px;
                height: 87px;
                display: inline-block;
                vertical-align: top;
                img {
                  object-fit: cover;
                }
              }
              > section {
                display: inline-block;
                width: 199px;
                white-space: normal;
                height: 87px;
                overflow: hidden;
                padding-left: 16px;
                > header {
                  font-size: 16px;
                  color: #333333;
                  line-height: 21px;
                  padding: 8px 0;
                }
                > div {
                  height: 44px;
                  font-size: 14px;
                  color: #999999;
                  line-height: 22px;
                }
              }
            }
          }
          > footer {
            width: 286px;
            height: 42px;
            background-color: #F0F0F0;
            text-align: center;
            padding: 10px;
            line-height: 22px;
            user-select: none;
            cursor: pointer;
            border-radius: 2px;
            transition: background-color 0.2s;
            &:hover {
              background-color: #cbcbcb;
            }
            &:active {
              background-color: #aaa;
            }
          }
        }
        &::before {
          content: '';
          clear: both;
          display:block;
        }
      }
    }
  }
  > footer {
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 66px;
    padding-bottom: 74px;
  }
}