.wrap {
  width: 100%;
}
.panel-wrap {
  width: 570px;
  height: 165px;
  background-color: #fff;
  border-radius: 2px;
  /* box-shadow: 0 0px 5px rgba(0,0,0,.08), 0 2px 6px 0 rgba(0,0,0,.08); */
  padding: 32px 43px;
  cursor: pointer;
  /* transition: 0.3s; */
  transition: box-shadow 0.2s;
  display: inline-block;
  margin: 0;
}
.panel-wrap.left {
  margin-right: 60px;
}
.panel-wrap:hover {
  box-shadow: 0 0px 20px rgba(238,238,238,.8);
  /* box-shadow: 0 0px 5px rgba(0,0,0,.08), 0 2px 6px 0 rgba(0,0,0,.08); */
}
.panel-wrap:hover li.right > i {
  /* opacity: 0.75; */
  /* background-color: #428dfa;
  color: #fff; */
  /* animation: toBlue 0.2s; */
}
.panel-wrap:active {
  background: rgb(252, 252, 252);
}
.panel-wrap:active li.right i {
  opacity: 1;
}
.panel-wrap li {
  display: inline-block;
  vertical-align: top;
}
.panel-wrap li.left {
  margin-right: 27px;
}
.panel-wrap li.center {
  width: 352px;
  margin-right: 17px;
}
.panel-wrap li.center p {
  line-height: 26px;
  font-size: 20px;
  /* color: #438DFA; */
  color: #333;
  margin-bottom: 14px;
  user-select: none;
}
.panel-wrap li.center div {
  font-size: 12px;
  color: #999;
  line-height: 18px;
  user-select: none;
}
.panel-wrap li.right {
  height: 80px;
}
.panel-wrap li.right > i{
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  /* background-color: #f5f5f5; */
  margin-top: 26px;
  /* color: #c9c9c9; */
  /* transition: background-color 0.4s ease-in-out; */
  /* animation: toBlue 0.2s reverse; */
  /* background: url(../../../public/to-right.png) no-repeat center center/29px 29px; */
}
.panel-wrap li.right > i.leave {
  animation: toW 0.3s;
  color: #c9c9c9;
  background-color: #f5f5f5;
}

.panel-wrap li.right > i.enter {
  animation: toBlue 0.3s;
  color: #fff;
  background-color: #428dfa;
  opacity: 0.8;
}

.panel-wrap li.right > i i {
  transition: none;
}
@keyframes toW {
  0% {
    color: #fff;
    background-color: #428dfa;
    opacity: 0.8;
  }
  60% {
    color: #fff;
    background-color: #f5f5f5;
    opacity: 0.5;
  }
  100% {
    color: #c9c9c9;
    background-color: #f5f5f5;
    opacity: 1;
  }
}
@keyframes toBlue {
  0% {
    color: #c9c9c9;
    background-color: #f5f5f5;
    opacity: 1;
  }
  20% {
    color: #fff;
    background-color: #428dfa;
    opacity: 0.5;
  }
  100% {
    color: #fff;
    background-color: #428dfa;
    opacity: 0.8;
  }
}